@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


input,
button,
body {
  font-family: "Montserrat", sans-serif;

}

.dancing__font {
  font-family: "Dancing Script", cursive;
}

.bg{
  background-color: hsla(0, 0%, 90%, .3);
}